.newpost-div{ 
  /* display:flex; 
  margin:100px;  */
  display:flex;  
  flex-direction: column;
  justify-content:center; 
  align-items: center; 
  width: 100%; 
  height:80vh; 
  /* height:auto;   */
  /* background-color: #8a8aac;  */ 
  background-color: #FFFFFF; 
  border-radius: 15px;
  
}  
.postform-container{
  /* height: %;  */
  width: 80%;  
  padding:50px; 
  background-color: #303036 ; 
  margin-top:70px;    
  border-radius: 20px;
} 
 

.post-button{
  margin-top:30px; 
  font-size: larger; 
  padding: 4px; 
  border-radius: 4px;
}