.parent-div{
  display:flex;  
  flex-direction: column;
  justify-content:center; 
  align-items: center;   
  height:80vh;
  width: 100%;  
  background-color: #FFFFFF; 
  border-radius: 15px;
} 

.editform-container{
  width: 80%;  
  padding:60px; 
  background-color: #303036; 
  margin-top:70px;  
  border-radius: 20px;
} 
 
.editpost-button{
  font-size: larger; 
  padding: 4px; 
  border-radius: 4px; 
  /* color:#FFFFFF;  */
  /* background-color: #1E3888; */
} 
/* .editpost-button:hover{
  box-shadow: 5px 5px 8px#0A100D;
  transition: all 0.3s;
} */
