.contactform-div{
  display:flex;  
  flex-direction: column;
  justify-content:center; 
  align-items: center; 
  width: 100%; 
} 

.contactform-container{
  width: 60%;  
  padding:40px; 
  background-color: #787891 ; 
  margin-top:70px; 
} 

@media screen and (max-width: 900px) {
  .contactform-container{
    height: 55%; 
    width: 80%; 
    padding:40px;  
    background-color: #F9F9F9;  
  
  } 
}