.header{
  color: #303036;
  font-weight: 700; 
  height:60px;  
  /* margin-bottom:;  */
  background-color: #FFFFFF;  
  } 
  a.nav.link{
    color: #303036;
    font-weight: 700; 
    text-decoration: none;
  }  
  .mr-auto{
    background-color: #FFFFFF; 
  } 

  /* #FFA630 */